<div class="logo text-center">
    <img src="./assets/logo2.png" alt="gym logo" width="300px" />
</div>

<div class="registratio-form m-3 p-4">
    <form [formGroup]="registerForm" (ngSubmit)="saveChanges()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Firstname" formControlName="firstName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Lastname" formControlName="lastName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Mobile" formControlName="mobile">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="Weight" formControlName="weight">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Unit is KGs</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Height</mat-label>
                    <input [readonly]="!this.registerForm.value?.weight" matInput placeholder="Height" formControlName="height" (change)="calculateBMI($any($event.target).value)">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>Unit is meters</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>BMI</mat-label>
                    <input readonly type="number" matInput placeholder="BMI" formControlName="bmi">
                    <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>BMI Result</mat-label>
                    <input readonly matInput placeholder="BMI Result" formControlName="bmiResult">
                    <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Do you require trainer</label>
                <mat-radio-group class="example-radio-group" formControlName="requireTrainer">
                    <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes','No']" [value]="trainerOpt">
                        {{trainerOpt}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Your favorite season is: </div>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group class="example-radio-group" formControlName="gender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of gender" [value]="gender">
                        {{gender}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected gender is: </div>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Select Package</mat-label>
                  <mat-select formControlName="package">
                    <mat-option *ngFor="let package of packages" [value]="package">
                      {{package}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                  <mat-label>Which of the following is important to you?</mat-label>
                  <mat-select multiple formControlName="important">
                    <mat-option *ngFor="let item of importantList" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <label id="example-radio-group-label">Have been Gym before?</label>
                <mat-radio-group class="example-radio-group" formControlName="haveGymBefore">
                    <mat-radio-button class="example-radio-button" *ngFor="let beenGym of ['Yes','No']" [value]="beenGym">
                        {{beenGym}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected option is: </div>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enquiry Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="enquiryDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div>
            <button class="mt-4" type="button" mat-raised-button color="warn" *ngIf="isUpdateActive" (click)="update()">Update</button>
            <button class="mt-4" type="submit" mat-raised-button color="warn" *ngIf="!isUpdateActive">Submit</button>
            <button class="mt-4" style="margin-left:20px;" type="reset" mat-raised-button color="primary" (click)="reset()">Clear</button>
        </div>
    </form>
</div>